/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

#container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.map {
    width: 45%;
    height: 600px;
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#tooltip {
    position: absolute;
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    display: none;
}

#legend {
    margin-top: 20px;
}
